In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('../src/data/fiinx/raw_data.csv')
df

,Date,DXG,TCH,HDG,HDC,KDH,IDC,KBC,DPG,VHM,NLG
0,12/27/2024,"15,700","15,450","29,050","25,150","35,800","55,900","27,650","46,350","40,350","36,400"
1,12/26/2024,"16,000","15,650","29,800","25,350","35,850","56,200","27,550","47,750","40,650","36,200"
2,12/25/2024,"16,300","15,600","29,900","25,350","35,900","56,300","28,150","48,050","40,600","36,300"
3,12/24/2024,"16,450","15,100","30,000","25,300","35,950","56,000","27,600","47,700","40,350","35,700"
4,12/23/2024,"17,650","15,300","30,800","26,100","35,900","56,200","27,800","50,200","40,600","36,250"
...,...,...,...,...,...,...,...,...,...,...,...
1246,01/03/2020,"13,900","33,700","30,650","24,500","26,400","18,300","15,300","39,600","85,200","27,000"
1247,01/02/2020,"14,300","33,300","30,000","24,500","26,500","18,400","15,200","40,700","84,900","27,500"
1248,12/31/2019,"14,500","32,650","30,000","23,800","26,900","18,900","15,450","41,000","84,800","27,500"
1249,12/30/2019,"14,650","32,100","30,150","23,900","27,000","18,900","15,450","41,300","85,500","27,500"
1250,12/27/2019,"14,600","31,700","30,700","24,500","26,900","18,800","15,400","42,000","84,500","27,350"